 .head{
    font-style: italic; 
    font-size: 17px;
    font-family: 'Georgia', serif;
}

html,body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; } 
#footer {clear: both;position: relative;z-index: 10;height:30px;margin-top: -40px;} 
#content { padding-bottom:15x; margin-top:15px;} 
small {
	float: left;
	font-size: 18px; 
	color: grey;
	width:100%;
	text-align: right;
}
a {
	color: #004B6B;
}

.banner{
	font-family: 'Lusitana', serif;
	font-size:30px;
	margin-bottom: 5px;
}