 .head{ 
    font-size: 17px;
    font-family: 'Georgia', serif;
    padding-top : 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.head img {
	margin: -8px;
}

html,body { 
	height: 100%;
	margin: 0;
 	padding: 0;
 	height:100%;
}

#main {
 position: relative;
 min-height:100%;
 _height:100%; 
}

body > #container { 
	height: auto;
	min-height: 100%;
}

#footer {
 position: absolute;
 bottom: 0;
 height: 30px;
 width: 100%;
 text-align: right;
}

#content {
	font-size: 18px;
	margin-top:15px;
	padding: 0px 15px 30px 15px;
}

#footer small {
	font-size: 18px; 
	color: grey;
	width:100%;
	padding-left: 15px;
 	padding-right: 15px;
}

a {
	color: #004B6B;
}

.banner{
	margin-bottom:10px;
}

.banner a{
	font-family: 'Average', serif;
	font-size:40px;
	margin-bottom: 5px;
	margin-right:20px;
}
.banner small{
	color: grey;
	font-family: 'Average', serif;
	font-style: italic;;
}