{% extends "head.html" %}
{% block body %}
<div id="content">
{% if is_exists %}
	<div id="src" style="display:none">{{ content.content|safe }} </div>
	<div id="html"></div>
{% else %}
	<hr/>
	  <h3 style="font-style: italic;">No such page, what about <a href="/edit/{{path}}">Create</a> it?</h3>
{% endif %}
</div>
</div>

{% if is_exists %}
<div id="footer"> <small><a href="/version/{{path}}">Revisions </a> | {{path}} by {{content.editor}} at {{content.date}}</small></div>
{% endif %}
<script>

var converter = new Markdown.Converter();
var srcObj = document.getElementById('src');
var htmlObj = document.getElementById('html');
htmlObj.innerHTML = converter.makeHtml(unescape(srcObj.innerHTML));
</script>

</body>

</html>
{% endblock %}